@CHARSET "UTF-8";

* {
	margin: 0px;
	padding: 0;
	font-size: 16px;
}

/*元素初始值*/
html {
	background: #eeeeee;
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,blockquote,th,td,ins,hr
	{
	margin: 0px;
	padding: 0px;
}

p {
	cursor: text;
}

h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
}

ol,ul {
	list-style-type: none;
}

address,caption,cite,code,dfn,em,th,var {
	font-style: normal;
	font-weight: normal;
}

table {
	border-collapse: collapse;
}

fieldset,img {
	border: 0;
}

img {
	display: block;
}

caption,th {
	text-align: left;
}

body {
	position: relative;
	font-size: 100%;
	font-family: "宋体"
}

a {
	text-decoration: none;
}

/*demo所用元素值*/
#need1 {
	margin: 0px auto 0;
	width: 100%;
}

#need1 li {
	height: 80px;
	width: 100%;
	font: 12px/ 26px Arial, Helvetica, sans-serif;
	/*background: #FFD;*/
	border-bottom: 1px dashed #E0E0E0;
	display: block;
	cursor: text;
	padding: 7px 0px 7px 10px !important;
	padding: 5px 0px 5px 10px;
	align: center;
}

#need1 li:hover,#need1 li.hover {
	align: center;
	vertical-align: middle;
}

#need1 textarea {
	line-height: 13px;
	background: #FFF;
	font-size: 13px;
	height: 80px;
	width: 800px;
	align: left;
	border: 1px solid #E0E0E0;
	vertical-align: middle;
	padding: 6px;
}

#need1 label {
	padding-left: 0px;
}

#need1 label.spanrem {
	background-position: 0 -277px;
	font-size: 14px;
	/*line-height: 20px; */
	height: 70px;
	vertical-align: middle;
}

#need {
	margin: 0px auto 0;
	width: 100%;
}

#need li {
	height: 20px;
	width: 100%;
	font: 12px/ 26px Arial, Helvetica, sans-serif;
	border-bottom: 1px dashed #E0E0E0;
	display: block;
	cursor: text;
	padding: 7px 0px 7px 10px !important;
	padding: 5px 0px 5px 10px;
	align: center;
}

#need li:hover,#need li.hover {
}

#need input {
	line-height: 20px;
	background: #FFF;
	font-size: 13px;
	height: 20px;
	width: 70px;
	border: 1px solid #E0E0E0;
	vertical-align: middle;
	padding: 6px;
}

/* 按钮样式 */
.input-button {
	background-image: url(../images/button_bg.jpg);
	height: 24px;
	font-size: 14px;
	border: 0px none 0;
	display: inline;
	color: #FFFFFF;
	text-align: center;
	overflow: hidden;
	width: 60px;
	cursor: hand;
}

#need label {
	padding-left: 0px;
}

#need label.title {
	background-position: 0 -277px;
	height: 25px;
	font-size: 15px;
	align: left;
	margin: 10%;
	vertical-align: bottom;
	padding: 5px 10px 2px;
	border-bottom: 0px;
	color: #666666;
	/*background-color: #efefef;*/
	border-left: 1px solid #ddd;
	font-weight: bold;
	border-bottom: 1px solid #ddd;
}

#need label.span {
	background-position: 0 -277px;
	height: 25px;
	font-size: 13px;
	vertical-align: middle;
}

#need label.input0 {
	background-position: 0 -277px;
	font-size: 13px;
	height: 25px;
	line-height: 20px;
	vertical-align: top;
}

#need label.spanrem {
	background-position: 0 -277px;
	font-size: 14px;
	/*line-height: 20px; */
	height: 70px;
	vertical-align: bottom;
}

#need label.inputrem {
	background-position: 0 -277px;
	font-size: 13px;
	height: 70px;
	line-height: 20px;
	vertical-align: top;
}

#need label.rem {
	background-position: 0 -277px;
	height: 25px;
	font-size: 12px;
	vertical-align: bottom;
}

#need label.old_password_zzjs {
	background-position: 0 -277px;
}

#need label.new_password_zzjs {
	background-position: 0 -1576px;
}

#need label.rePassword_zzjs {
	background-position: 0 -1638px;
}

#need label.email_zzjs {
	background-position: 0 -429px;
}

#need dfn {
	display: none;
}

#need li:hover dfn,#need li.hover dfn {
	display: inline;
	margin-left: 7px;
	color: #676767;
}

.box-content {
	padding: 0px;
	border-bottom: 1px solid #cdcdcd;
	font-size: 12px;
	color: #666;
	width: 100%;
	position: relative;
	margin: 0px;
	overflow-y: auto;
	max-height: 760px;
}

.table-style {
	border: 0px;
	margin-bottom: 0px;
	border-spacing: 0px;
	width: 100%;
	background-color: transparent;
	position: relative;
}

.table-style-th {
	vertical-align: bottom;
	height: 20px;
	padding: 5px 10px 2px;
	border-bottom: 0px;
	text-align: left;
	color: #666666;
	background-color: #efefef;
	border-left: 1px solid #ddd;
	font-weight: bold;
	border-bottom: 1px solid #ddd;
	font-size: 50px;
}

.table-style-td {
	vertical-align: middle;
	height: 30px;
	padding: 5px 10px 2px;
	border-bottom: 0px;
	text-align: left;
	color: #666666;
	background-color: #f9f9f9;
	border-left: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

.caozuo {
	float: right;
	line-height: 30px;
	margin: 0px 5px;
	width: auto;
	position: relative;
}

.mycaozuo {
	float: left;
	line-height: 30px;
	margin: 0px 5px;
	width: auto;
	position: relative;
}

.btn-add {
	text-decoration: none;
	width: 50px;
	background-color: #006dee;
	height: 25px;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
	border: 1px solid #ccc;
	color: #ffffff;
	margin: 0 7px;
	cursor: pointer;
	vertical-align: middle;
}

.btn-add:hover {
	background-color: #006dcc;
}

.btn-edit {
	text-decoration: none;
	width: 50px;
	background-color: #006dee;
	height: 25px;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
	border: 1px solid #ccc;
	color: #ffffff;
	margin: 0 7px;
	cursor: pointer;
	vertical-align: middle;
}

.btn-del {
	text-decoration: none;
	width: 50px;
	background-color: #006dee;
	height: 25px;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
	border: 1px solid #ccc;
	color: #ffffff;
	margin: 0 7px;
	cursor: pointer;
	vertical-align: middle;
}

.btn-link {
	text-decoration: none;
	width: 80px;
	background-color: #006dee;
	height: 25px;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
	border: 1px solid #ccc;
	color: #ffffff;
	margin: 0 7px;
	cursor: pointer;
	vertical-align: middle;
}

.settle-style {
	cursor: pointer;
	color: #ee2233;
}