body { background-color:Black}
.div_zhutu{background-image:url(../images/xxx变电厂在线测温系统1.gif); width:1024px; height:100%; position:relative;MARGIN-RIGHT: auto; MARGIN-LEFT: auto; margin-top:0px}
.zhengchang{margin-left:151px; margin-top:334px; background-color:#3CF; position:absolute; width:68px; height:25px;text-align:center;vertical-align:bottom; font-weight:bold; color:#FFF; padding-top:5px}
.menu1{ background-color:Silver; width:200px; height:200px; display:none;cursor:pointer;}

.shebei1{width:150px;height:20px;}